@model Assignment_One.Models.Game_Inventory

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Game_Inventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.game_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.game_genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age_restiction_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age_restiction_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_release)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_release)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.game_owners)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_owners)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.game_ratings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_ratings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.in_Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.in_Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.game_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modable_game)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modable_game)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type_of_game)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type_of_game)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
