@model Assignment_One.Models.Customer_Info

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer_Info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.game_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.game_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_purchased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_purchased)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.purchase_card_num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.purchase_card_num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.purchase_ccv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.purchase_ccv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipping_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipping_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.billing_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.billing_address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.productId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
