@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>CANADA'S BEST VIDEO GAME RENTALS</h1>
        <p class="lead">Welcome to an online video game rental website that is only meant for Candians. Chea prices and happy customers.
        Choose a game and then order it. ITS THAT SIMPLE!</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        <div class="row">
            <div class="col-md-4"></div>

            <div>
                <h2> POPULAR GAMES!</h2>
                <div>
                    <img src='@Url.Content("~/img/game6.gif")' alt="DOOM" />
                    <br />

                    <img src='@Url.Content("~/img/game7.jpg")' alt="2077" />

                    <img src='@Url.Content("~/img/game5.png")' alt="2077" />
                </div>
                <img src='@Url.Content("~/img/game1.png")' alt="OBSERVER" />


                <img src='@Url.Content("~/img/game2.png")' alt="GMOD" />


                <img src='@Url.Content("~/img/game3.png")' alt="OBLIV" />


                <img src='@Url.Content("~/img/game4.png")' alt="CITIES" />

                <img src='@Url.Content("~/img/game4.png")' alt="CITIES" />

            </div>
    </div>
